<!doctype html>
<!-- panneau pour le filtrage des conseillers -->

<div id="conseillers" class="card">
  <div class="card-header text-white bg-primary">
    <h3><a class="special-link" href="https://www.parlament.ch/fr/ratsmitglieder?k=*" target="_blank" >Le parlement suisse</a><span class="special-small">&nbsp;au&nbsp;11.1.2019</span></h3>
  </div>
  <div class="card-body" >

    <!--<p>Choisir le canton et le format pour charger en AJAX des données depuis un serveur</p>-->
    <div>Filtrés par canton, conseil ou parti&nbsp;:<a class="float-right" href="javascript:ctrl.effectuerLogout()">Logout</a></div>

    <!-- une combobox pour sélectionner le canton -->
    <select id="cmbCantons"></select>

    <!-- une combobox pour sélectionner le conseil -->
    <select id="cmbConseils"></select>

    <!-- une combobox pour sélectionner le parti -->
    <select id="cmbPartis" style="width: 200px"></select>

    <div style="padding-top:0.25em; display: inline-block">
      &nbsp;
      <input type="checkbox" id="cbxActuels" name="cbxActuels" />&nbsp;actuels

      &nbsp;
      <input type="checkbox" id="cbxDetails" name="cbxDetails" />&nbsp;détails&nbsp;
  
      &nbsp;
      <input type="button" value="Tous les marqueurs" onclick="ctrl.afficherMarqueursConseillers()">
    
    </div>
  
    <!-- un calque vide pour afficher les données après un appel AJAX -->
    <div id="data">
      ...
    </div>

    <!-- un calque pour afficher une googlemap -->
    <div id="map_canvas" style="width: 100%; height:480px; margin-top: 10px; border: 1px solid lightgray">
      &nbsp;
    </div>

  </div>

  <!-- pied de page pour afficher quelques données sur l'état du serveur -->
  <div class="footnote">BD MySQL sur serveur <span id="versionServeur">&nbsp;</span> (session ouverte: <span id="sessionStatus">&nbsp;</span>)
  </div>
</div>


