body {
  background-color: white;
  text-align: left;
  font-size: 1.2em;
}

ul {
  margin-top: 0;
  margin-bottom: 0.25em;
  padding: 0;
  list-style-type: none;  
}

li {
  font-family: monospace;
  /*list-style-type: none;*/
}

.container {
  margin-top: 0;
  padding: 0;
  text-align: left;
  /*background-color: aliceblue;*/
  font-family: Verdana, Arial, serif;
  height: auto;
  color: green;
  /*border: 1px solid green;*/
}

/* .card {
  border: 1px solid gray;
} */

.card-header {
  padding-bottom: 0px;
}

.card-body {
  /*background-color: aliceblue;*/
  padding: 0.5em 1em 0.5em 1em;
}



/* petits écrans, on prend toute la largeur */
@media (max-width: 991px) {
  .container {
    max-width: 100%;
    /*border: 1px solid red;*/
  }
}

/* les très petits écrans en mode portrait */
@media (max-width: 575px) and (orientation:portrait) {

  .smaller>li{
   font-size: 0.75em;
   /*color: red;*/
  }
  
  .card-body {
    padding-left: 5px;
    padding-right: 5px;
  }
}