body {
  background-color: white;
  text-align: center;
  font-size: 1.2em;
}

ul {
  margin-top: 0;
  margin-bottom: 0.25em;
}

li {
  font-family: monospace;
  list-style-type: none;
}

.container {
  margin-top: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: Verdana, Arial, serif;
  height: auto;
}

/* .card {
  border: 1px solid gray;
} */

.card-header {
  padding-bottom: 0px;
}

.card-body {
  background-color: aliceblue;
  padding: 0.5em 1em 0.5em 1em;
}

.footnote {
  text-align: center;
  font-size: 0.75em;
  background-color: aliceblue;
}

.special-small {
  font-size: 40%;
}

/* petits écrans, on prend toute la largeur */
@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

/* les très petits écrans en mode portrait */
@media (max-width: 575px) and (orientation:portrait) {
  .container {
    font-size: 0.8em;
    /* border: 1px solid violet;     */
  }
  
  .card-body {
    padding-left: 5px;
    padding-right: 5px;
  }
}