@(canton: String, conseillers: List[models.Conseiller])
@main(title = "Conseillers") {
<h3>Liste des conseillers (@canton)</h3>
<ol>
  @for(conseiller <- conseillers) {
  <li>
    @conseiller.getNom() @conseiller.getPrenom() @conseiller.getCanton().getAbrev()
    (@if(conseiller.getDateNaissance()==null) {?} else {@conseiller.getDateNaissance().format("yyyy")}@if(conseiller.getDateDeces()!=null) {-@conseiller.getDateDeces().format("yyyy")}), @conseiller.getParti().getAbrev()
    <ul>
      @for(activite <- conseiller.getActivites()) {
      <li style="color:gray">
        @activite.getConseil().getAbrev(), @if(activite.getDateEntree()==null) {?} else {@activite.getDateEntree().format("yyyy")}-@if(activite.getDateSortie()==null) {...} else {@activite.getDateSortie().format("yyyy")}@if(activite.getGroupe().getAbrev()!="?") {, @activite.getGroupe().getNom()}
      </li>}
    </ul>
  </li>}
</ol>

}

