@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>@title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!--<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("parlement/api/images/favicon.png")' />-->
    <!--<link rel="stylesheet" href='@routes.Assets.versioned("parlement/api/css/listes.css")' />-->

    <!--<link rel="shortcut icon" type="image/png" href="/assets/api/images/favicon.png" />-->
    <!--<link rel="stylesheet" href="/assets/api/css/listes.css" />-->

    <link rel="shortcut icon" type="image/png" href="/parlement/assets/api/images/favicon.png" />    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/parlement/assets/api/css/listes.css" />
  </head>
  
  <body>
    <div class="container">
      <div class="card,special-grand" >
        <div class="card-body" style="text-align:left">
          @content
        </div>
      </div>
    </div>
  </body>
</html>