@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>@title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <script>
      var url = window.location.href;
      var prefix = (url.includes('jcsinfo.ch')) ? "/parlement" : "";
      document.write('<link rel="stylesheet" href="' + prefix + '/assets/api/css/listes.css" />');
      document.write('<link rel="shortcut icon" type="image/png" href="' + prefix + '/assets/api/images/favicon.png" />');
    </script>
    
  </head>
  
  <body>
    <div class="container">
      <div class="card,special-grand" >
        <div class="card-body" style="text-align:left">
          @content
        </div>
      </div>
    </div>
  </body>
</html>